{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
<div class='container'>    
    <img class='img-fluid rounded' src= '{{ recipe.image }}' alt="{{ recipe.name }}" style="width: 100%">
    <h1>{{ recipe.name }}</h1>
    <p class='lead'>{{ recipe.cuisine }}</p>
    <p>
        {% if recipe.likes.Dale == "True"  %}
            <i class="material-icons" title='Dale'>star</i>
        {% else %}
            <i class="material-icons" title='Dale'>star_border</i>
        {% endif %}
        {% if recipe.likes.Jennifer == "True"  %}
            <i class="material-icons" title='Jennifer'>star</i>
        {% else %}
            <i class="material-icons" title='Jennifer'>star_border</i>
        {% endif %}
        {% if recipe.likes.Isabelle == "True"  %}
            <i class="material-icons" title='Isabelle'>star</i>
        {% else %}
            <i class="material-icons" title='Isabelle'>star_border</i>
        {% endif %}
        {% if recipe.likes.Parker == "True"  %}
            <i class="material-icons" title='Parker'>star</i>
        {% else %}
            <i class="material-icons" title='Parker'>star_border</i>
        {% endif %}
    </p>
</div>

<div class='container'>    
    <h3>Instructions</h3>
    <p>
        {{ recipe.instructions|safe }}
    </p>
    <h3>Ingredients</h3>
    <p>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>
                    {{ ingredient }}
                </li>
            {% endfor %}
        </ul>
    </p>
    <a href="{% url 'recipe-list' %}">Back to List</a>
</div>
{% endblock %}